<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pagina WEB | Mi app</title>
</head>
<body>