{{> header }}
  {{> navbar }}
              <div class="jumbotron">
                    <h1 class="display-4">BIENVENIDO,{{clima nombre}}</h1>
                    <p class="lead">ESTOS SON LOS CLIMAS DE LAS SIGUIENTES CIUDADES </p>
                    <hr class="my-4">
                    <h3>QUITO</h3>
                    <h3>GUAYAQUIL</h3>
                  </div>
  {{> footer }}